body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1134px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:792px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:792px;
  opacity:0.6;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:61px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:646px;
  width:360px;
  height:60px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:647px;
  width:26px;
  height:25px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:26px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:648px;
  width:22px;
  height:25px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:26px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:649px;
  width:31px;
  height:25px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:21px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:680px;
  width:33px;
  height:20px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:21px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:680px;
  width:33px;
  height:20px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:21px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:679px;
  width:33px;
  height:20px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:21px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:680px;
  width:33px;
  height:20px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:648px;
  width:19px;
  height:26px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:650px;
  width:88px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:651px;
  width:88px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:651px;
  width:88px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:651px;
  width:88px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:192px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:70px;
  width:360px;
  height:192px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:81px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:98px;
  width:139px;
  height:80px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:107px;
  width:0px;
  height:0px;
}
#u38_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u38_seg1 {
  border-width:0px;
  position:absolute;
  left:-99px;
  top:-2px;
  width:103px;
  height:8px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:648px;
  width:132px;
  height:39px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:668px;
  width:0px;
  height:0px;
}
#u40_seg0 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:-4px;
  width:73px;
  height:8px;
}
#u40_seg1 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:-4px;
  width:8px;
  height:6px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:43px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:319px;
  width:161px;
  height:42px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:340px;
  width:0px;
  height:0px;
}
#u42_seg0 {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:-4px;
  width:97px;
  height:8px;
}
#u42_seg1 {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:-4px;
  width:8px;
  height:5px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:60px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:310px;
  width:57px;
  height:59px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:379px;
  width:66px;
  height:19px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:60px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:310px;
  width:57px;
  height:59px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:378px;
  width:38px;
  height:19px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:60px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:310px;
  width:57px;
  height:59px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:379px;
  width:65px;
  height:19px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:281px;
  width:84px;
  height:19px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:60px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:428px;
  width:57px;
  height:59px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:494px;
  width:57px;
  height:19px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:60px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:425px;
  width:57px;
  height:59px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:492px;
  width:38px;
  height:19px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:402px;
  width:84px;
  height:19px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:60px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:555px;
  width:57px;
  height:59px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:621px;
  width:64px;
  height:19px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:526px;
  width:84px;
  height:19px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:453px;
  width:0px;
  height:0px;
}
#u58_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u58_seg1 {
  border-width:0px;
  position:absolute;
  left:-400px;
  top:-2px;
  width:404px;
  height:8px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:-249px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:792px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:2px;
  width:398px;
  height:792px;
  opacity:0.6;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:138px;
  width:359px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:61px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:68px;
  width:359px;
  height:60px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:87px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:68px;
  width:76px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:51px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:73px;
  width:29px;
  height:50px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:111px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:138px;
  width:359px;
  height:110px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:76px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:157px;
  width:88px;
  height:76px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:23px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:156px;
  width:140px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:52px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:181px;
  width:222px;
  height:51px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:17px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:181px;
  width:213px;
  height:16px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:175px;
  width:72px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:111px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:258px;
  width:359px;
  height:110px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:76px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:277px;
  width:88px;
  height:76px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:23px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:276px;
  width:140px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:52px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:301px;
  width:222px;
  height:51px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:17px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:301px;
  width:213px;
  height:16px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:295px;
  width:72px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:111px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:378px;
  width:359px;
  height:110px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:76px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:397px;
  width:88px;
  height:76px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:23px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:396px;
  width:140px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:52px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:421px;
  width:222px;
  height:51px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:17px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:421px;
  width:213px;
  height:16px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:415px;
  width:59px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:91px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:88px;
  width:107px;
  height:90px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:97px;
  width:0px;
  height:0px;
}
#u88_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u88_seg1 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-2px;
  width:61px;
  height:8px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:792px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:842px;
  width:398px;
  height:792px;
  opacity:0.6;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:61px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:908px;
  width:359px;
  height:60px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:927px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:51px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:913px;
  width:29px;
  height:50px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:111px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:978px;
  width:359px;
  height:110px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:76px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:997px;
  width:88px;
  height:76px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:23px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:996px;
  width:140px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:52px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:1021px;
  width:222px;
  height:51px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:29px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:941px;
  top:1018px;
  width:38px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:139px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:928px;
  width:107px;
  height:138px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:937px;
  width:0px;
  height:0px;
}
#u101_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u101_seg1 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-2px;
  width:61px;
  height:8px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:1259px;
  width:0px;
  height:0px;
}
#u102_seg0 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:-4px;
  width:53px;
  height:8px;
}
#u102_seg1 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:-733px;
  width:8px;
  height:737px;
}
#u102_seg2 {
  border-width:0px;
  position:absolute;
  left:-503px;
  top:-733px;
  width:458px;
  height:8px;
}
#u102_seg3 {
  border-width:0px;
  position:absolute;
  left:-503px;
  top:-805px;
  width:8px;
  height:80px;
}
#u102_seg4 {
  border-width:0px;
  position:absolute;
  left:-514px;
  top:-805px;
  width:19px;
  height:8px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:-99px;
  top:-616px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:111px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:1098px;
  width:359px;
  height:110px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:76px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:1117px;
  width:88px;
  height:76px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:23px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:1116px;
  width:140px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:52px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:1141px;
  width:222px;
  height:51px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:29px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:1138px;
  width:38px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:29px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:87px;
  width:23px;
  height:28px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:29px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:924px;
  width:23px;
  height:28px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:792px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:842px;
  width:398px;
  height:792px;
  opacity:0.6;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:61px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:912px;
  width:359px;
  height:60px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:931px;
  width:94px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:51px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:917px;
  width:29px;
  height:50px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:1262px;
  width:243px;
  height:28px;
}
#u116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1266px;
  width:43px;
  height:16px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:1304px;
  width:243px;
  height:29px;
}
#u118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:1308px;
  width:71px;
  height:24px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:61px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:1487px;
  width:359px;
  height:60px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:1506px;
  width:58px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:119px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:1198px;
  width:143px;
  height:118px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:1218px;
  width:0px;
  height:0px;
}
#u123_seg0 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-4px;
  width:57px;
  height:8px;
}
#u123_seg1 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-4px;
  width:8px;
  height:40px;
}
#u123_seg2 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:28px;
  width:33px;
  height:8px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:-4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:43px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:247px;
  width:161px;
  height:42px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:1099px;
  width:0px;
  height:0px;
}
#u125_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:117px;
  height:8px;
}
#u125_seg1 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:-693px;
  width:8px;
  height:697px;
}
#u125_seg2 {
  border-width:0px;
  position:absolute;
  left:-259px;
  top:-693px;
  width:376px;
  height:8px;
}
#u125_seg3 {
  border-width:0px;
  position:absolute;
  left:-259px;
  top:-763px;
  width:8px;
  height:78px;
}
#u125_seg4 {
  border-width:0px;
  position:absolute;
  left:-270px;
  top:-763px;
  width:19px;
  height:8px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-522px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:1343px;
  width:243px;
  height:29px;
}
#u126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:1347px;
  width:71px;
  height:24px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:1224px;
  width:243px;
  height:28px;
}
#u128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1228px;
  width:43px;
  height:16px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:116px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:1342px;
  width:133px;
  height:115px;
  color:#FF0000;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:1364px;
  width:0px;
  height:0px;
}
#u131_seg0 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-4px;
  width:21px;
  height:8px;
}
#u131_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-89px;
  width:8px;
  height:93px;
}
#u131_seg2 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-89px;
  width:43px;
  height:8px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:-62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:77px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:1030px;
  width:82px;
  height:76px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:1010px;
  width:300px;
  height:170px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:912px;
  width:76px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u135 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:908px;
  width:76px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
